.card {
    max-width: 200px;
    background-color:antiquewhite;
    list-style-type: none;
    padding: 40px;
}

.title { 
    max-width: 100%;
}

.discr {
    max-width: 100%;
}

.price {
    max-width: 100%;
}